<nav id="navbar" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li ng-show="user.isLoggedIn"><a href="#/play"><i class="fa fa-shield"></i>Spela</a></li>
                <li ng-show="user.isLoggedIn"><a href="#/toplist"><i class="fa fa-shield"></i>Topplista</a></li>
                <li ng-show="user.isLoggedIn"><a href="#/all"><i class="fa fa-shield"></i>Alla rader</a></li>
                <li ng-show="user.isLoggedIn"><a href="#/settings"><i class="fa fa-shield"></i>Inställningar</a></li>
                <li ng-show="user.isLoggedIn"><a href="#" ng-click="logout()"><i class="fa fa-shield"></i>Logga ut</a></li>
                <li ng-hide="user.isLoggedIn"><a href="/api/login"><i class="fa fa-shield"></i>Logga in</a></li>
            </ul>
        </div>
    </div>
</nav>